<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <lang="eng">
  <title>Nelisa's spaza shop</title>
  <h1><strong>Nelisa's Spaza Shop App</strong></h1>
  <style>

     h1
     {
        text-align: center;
        font-family: cursive, Arial, Verdana;-
        font-color: red;
        /*font-family:Times New Roman;*/
        font-size: 50px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.3999996185303px;
        text-shadow: 2px 2px #ff0000;
      }
      .products{
        font-color:255, 255, 255;
        border-radius: 2px;
      border-bottom-width: 3px;
      border-bottom-color: pink;
      border-bottom-style: solid;
      margin-right: 20px;
      background-color: white;
      }
      .least_popular_cat{
        font-color:255, 255, 255;
        border-radius: 2px;
      border-bottom-width: 3px;
      border-bottom-color: pink;
      border-bottom-style: solid;
      margin-right: 20px;
      background-color: white;
      }

      .popular_product{
        font-color:255, 255, 255;
        border-radius: 2px;
      border-bottom-width: 3px;
      border-bottom-color: pink;
      border-bottom-style: solid;
      margin-right: 20px;
      background-color: white;
      }

      button{       
              background:black;
              padding:10px 15px;
              color:#fff;
              font-family:'Helvetica Neue',sans-serif;
              font-size:16px;
              border-radius:5px;
              -moz-border-radius:5px;
              -webkit-border-radius:5px;
              border:1px solid #459A00
      }
      body{
        background-color: #00ACE9;
      }
     
  </style>

</head>
<body>


<button>
  <a href="/products">Product List</a>
</button>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button>
  <a href="/popular_product">Most popular Product</a>
</button>
<!-- Indicates a successful or positive action -->
<button>
  <a href="/least_popular">Least Popular Product</a>
</button>

<!-- Contextual button for informational alert messages -->
<button>
  <a href="/categories">Product categories</a>
</button>

<!-- Indicates caution should be taken with this action -->
<button>
  <a href="/most_popular_cat">Most popular category</a>
</button>

<!-- Indicates a dangerous or potentially negative action -->
<button>
  <a href="/least_popular_cat">Least popular category</a>
</button>

<button>
  <a href="/sales_history">Sales History</a>
</button>

</div>
{{{body}}}
</body>
</html>